## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Tabuk,PH,84.04,overcast clouds,17.4189,121.4443,Golden Berries Hotel and Convention
1,5,Rikitea,PF,78.37,light rain,-23.1203,-134.9692,Pension Maro'i
2,6,Puerto Ayora,EC,76.15,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
3,13,Butaritari,KI,80.92,light rain,3.0707,172.7902,Isles Sunset Lodge
4,22,Georgetown,MY,84.20,few clouds,5.4112,100.3354,Cititel Penang

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations.head(10)

       Lat       Lng
0  17.4189  121.4443
1 -23.1203 -134.9692
2  -0.7393  -90.3518
3   3.0707  172.7902
4   5.4112  100.3354
5 -21.2000 -175.2000
6   5.9667   80.4167
7  10.5669   72.6420
8 -20.3428   57.7575
9 -10.6167  150.6667

In [6]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Laguna']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Laguna']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Redlands']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Nogales']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Las Cruces']

In [24]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')
coords_stop_1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
coords_stop_2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
coords_stop_3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Stop 1: {coords_stop_1}, Stop 2: {coords_stop_2}')

Start: (38.421, -121.4238), End: (38.421, -121.4238)
Stop 1: (34.0556, -117.1825), Stop 2: (31.3086, -110.9422)

In [33]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

city_itinerary = gmaps.directions_layer(start, end, waypoints=[coords_stop_1, coords_stop_2, coords_stop_3], travel_mode='DRIVING')

In [36]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,592,Laguna,US,82.4,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
1,460,Redlands,US,80.6,scattered clouds,34.0556,-117.1825,Dynasty Suites Redlands
2,309,Nogales,MX,78.8,clear sky,31.3086,-110.9422,Hotel Marqués De Cima
3,622,Las Cruces,US,77.0,overcast clouds,32.3123,-106.7783,Days End Lodge

In [37]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [38]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))